.carousel {
  display: flex;
  gap: 0.5em;
  height: 350px;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

@media (max-width: 560px) {
  .animeGrid {
    grid-template-columns: 100%;
  }
}
