.carousel {
  display: flex;
  gap: 0.5em;
  height: 370px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  padding: 0px 0px 15px;
}

@media (max-width: 560px) {
  .animeGrid {
    grid-template-columns: 100%;
  }
}
