:root {
  --purple: #9049f4;
  --purple-hover: #6d11eb;
  --white: #fff;
}

svg {
  margin-right: 0.3em;
}

.main_imagen {
  font-size: 16px;
  min-height: 28.5em;
  color: var(--white);
  background-position: center center;
  background-size: cover;
  margin-bottom: 1em;
  display: flex;
  align-items: flex-end;
  /* border-radius: 0px 0px 15px 15px; */
  background-color: var(--blue);
}
.title_anime {
  font-weight: 600;
  font-size: 2.5em;
  color: var(--white);
  margin-bottom: 4px;
}
.information_anime {
  font-weight: normal;
  font-size: 14.5px;
  line-height: 1.75em;
  max-width: 100%;
  margin-bottom: 1em;
}
.btn_anime {
  background: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 0.31em;
  padding: 10px;
  color: var(--white);
  cursor: pointer;
  transition: 0.3s ease all;
  font-size: 0.95rem;
}

.btn_anime:hover {
  background: var(--white);
  color: #000;
}

.button_episodio {
  cursor: pointer;
  border: none;
  width: 100%;
  height: 40px;
  transition: 0.3s ease all;
  font-size: 0.9rem;
  margin-top: 10px;
  border-radius: 5px;
  background: var(--purple);
  color: var(--white);
}

.button_episodio:hover {
  background: var(--purple-hover);
}

@media (max-width: 992px) {
  .main_imagen {
    border-radius: 0px 0px 15px 15px;
  }
  .episodes_anime {
    margin-top: 0.5em;
  }
  .information_anime {
    font-size: 12px;
  }
  .title_anime {
    font-size: 1.9em;
  }
}
